{% block stylesheets %}

{% endblock %}

{% extends "base.html.twig" %}

{% block body %}
    <!-- start main -->
    <div class="container mt-5">

        <div class="row justify-content-center">

            <div class="col-lg-5 col-md-7">

                <h2 class="text-center">Réinitialisation de mot de pass</h2>

                <div class="box-login mt-4">

                    <h2 class="text-center mb-3 mt-3"><i class="fa fa-heart"></i></h2>
                        {{ form_start(form) }}

                        <div class="form-group">
                            <div class="red-color">
                                {{ form_errors(form.newPassword,{ 'attr': {'class': 'red-color'} }) }}
                            </div>
                            {{ form_widget(form.newPassword, { 'attr': {'class': 'form-control'} }) }}
                        </div>

                        <div class="form-group">
                            <div class="red-color">
                                {{ form_errors(form.confirmPassword,{ 'attr': {'class': 'red-color'} }) }}
                            </div>
                            {{ form_widget(form.confirmPassword, { 'attr': {'class': 'form-control'} }) }}
                        </div>

                        <div class="form-group">
                            <input type="submit" name="access" class="btn btn-success btn-block" value="Réinitialiser" required="">
                        </div>

                    {{ form_end(form) }}

                    <div class="clearfix"></div>


                    <div class="text-center mt-3">

                        <a href="{{ path('account_register') }}">

                            <i class="fa fa-user-plus"></i> S'inscrire?
                        </a>

                    </div>

                </div>


            </div>

        </div>

    </div>
{% endblock %}
