{% extends 'base.html.twig' %}
{% block title %}
	Contactez le support client
{% endblock %}
{% block meta %}
	<meta name="description" content="Contacter lenil. Afin de mieux répondre à votre demande, nous vous invitons à remplir note formulaire de contact."/>
	<meta name="keywords" content="formulaire de contact, invite, message, réponse, demande"/>
{% endblock %}
{% block body %}
	<div class="container pb-4">
		<!-- Container starts -->
		<div class="row">
			<div class="col-md-12 mt-4">
				{% if app.user is null %}
				<div class="alert alert-warning rounded-0">
					<p class="lead mt-1 mb-1 text-center">
						<strong>Désolé ! </strong>Vous ne pouvez pas soumettre une demande d'assistance sans vous être d'abord connecté. Si vous avez une question générale, veuillez nous envoyer un e-mail à admin@lenil.tech.
					</p>
				</div>
				{% endif %}

			</div>
		</div>
		<div class="row customer-support" style="">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header text-center make-white">
						<h2>Soumettre une demande d'assistance
						</h2>
						<p class="text-muted pt-1">Si vous avez des questions, n'hésitez pas à nous contacter, notre centre de service client est en ligne 24h / 24 et 7j / 7..</p>
					</div>
					<div class="card-body">
						<center>
								{{ form_start(form,{ 'attr': {'class': 'col-md-8 contact-form'} }) }}
								<div class="row">
									<div class="form-group col-md-6">
										{{ form_label(form.firstname, null, {'label_attr': {'class': 'float-left'}}) }}
										<div class="red-color">
											{{ form_errors(form.firstname,{ 'attr': {'class': 'red-color'} }) }}
										</div>
										{{ form_widget(form.firstname, { 'attr': {'class': 'form-control'} }) }}

									</div>
									<div class="form-group col-md-6">
										{{ form_label(form.lastname, null, {'label_attr': {'class': 'float-left'}}) }}
										<div class="red-color">
											{{ form_errors(form.lastname,{ 'attr': {'class': 'red-color'} }) }}
										</div>
										{{ form_widget(form.lastname, { 'attr': {'class': 'form-control'} }) }}
									</div>
								</div>
							<div class="row">
								<div class="form-group col-md-6">
									{{ form_label(form.phone, null, {'label_attr': {'class': 'float-left'}}) }}
									<div class="red-color">
										{{ form_errors(form.phone,{ 'attr': {'class': 'red-color'} }) }}
									</div>
									{{ form_widget(form.phone, { 'attr': {'class': 'form-control'} }) }}

								</div>
								<div class="form-group col-md-6">
									{{ form_label(form.email, null, {'label_attr': {'class': 'float-left'}}) }}
									<div class="red-color">
										{{ form_errors(form.email,{ 'attr': {'class': 'red-color'} }) }}
									</div>
									{{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}
								</div>
							</div>

								<div class="form-group">
									{{ form_label(form.message, null, {'label_attr': {'class': 'float-left'}}) }}
									<div class="red-color">
										{{ form_errors(form.message,{ 'attr': {'class': 'red-color'} }) }}
									</div>
									{{ form_widget(form.message, { 'attr': {'class': 'form-control','rows': '6'} }) }}
								</div>

								<div class="form-group">
									<label>Veuillez vérifier que vous faites partie de l'humanité.</label>
									<div class="g-recaptcha" data-sitekey="6LcLeawUAAAAABC2pU7vox7ZY2mXmwMo0j2686jQ"><div style="width: 304px; height: 78px;"><div><iframe src="https://www.google.com/recaptcha/api2/anchor?ar=1&amp;k=6LcLeawUAAAAABC2pU7vox7ZY2mXmwMo0j2686jQ&amp;co=aHR0cHM6Ly93d3cuZ2lndG9kby5jb206NDQz&amp;hl=fr&amp;v=OOKISvkNnVD_m_9dreR_1S0n&amp;size=normal&amp;cb=3pjcu5ycn27x" width="304" height="78" role="presentation" name="a-htbujvljonjk" frameborder="0" scrolling="no" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox"></iframe></div><textarea id="g-recaptcha-response" name="g-recaptcha-response" class="g-recaptcha-response" style="width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;"></textarea></div><iframe style="display: none;"></iframe></div>
								</div>
								<div class="text-center">
									 {% if app.user is null %}
										 <button class="btn btn-success btn-lg" type="button" id="contact-not-connected">
											 <i class="fa fa-paper-plane"> Envoyer</i>
										 </button>
									{% else %}
										<button class="btn btn-success btn-lg"  name="submit" type="submit">
											<i class="fa fa-paper-plane"> Envoyer</i>
										</button>
									{% endif %}

								</div>
								{{ form_end(form) }}
						</center>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
{% block javascripts %}
	<script type="application/javascript">
		$(document).ready(function () {
			$("#contact-not-connected").click(function () {
				swal({
					text: "Opps! Vous devez être connecté pour soumettre des demandes d'assistance.",
					icon: "warning",
					timer: 6000
				}).then(
						window.location.href = "/login"
				);
			});
		});


	</script>
{% endblock %}