<div data-ui="cat-nav" id="desktop-category-nav" class="ui-toolkit cat-nav ">
    <div class="bg-white bg-transparent-homepage-experiment bb-xs-1 hide-xs hide-sm hide-md">
        <div class="col-group body-max-width">
            <ul class="col-xs-12 body-max-width display-flex-xs justify-content-space-between" role="menubar"
                data-ui="top-nav-category-list" aria-activedescendant="catnav-primary-link-10855">
                {% for category in categories_yes %}
                    <li class="top-nav-item pt-xs-1 pb-xs-1 pl-xs-2 pr-xs-2 display-flex-xs align-items-center text-center"
                        data-linkable="true" data-ui="top-nav-category-link" data-node-id="c-{{ loop.index }}">
                        <a href="{{ path('category_services',{slug: category.slug}) }}">
                            {{ category.title }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="position-absolute col-xs-12 col-centered z-index-4">
        {% for category in categories_yes %}
            {% if category.getSousCategories | length > 0 %}
                <div class="body-sub-width vertical-align-top sub-nav-container bg-white overflow-hidden bl-xs-1 bb-xs-1 br-xs-1 catnav-mott-control display-none"
                     data-ui="sub-nav" aria-hidden="true" data-node-id="c-{{ loop.index }}">
                    <div class="width-full display-flex-xs">
                        <ul class="list-unstyled display-inline-block col-xs-3 p-xs-3 pl-xs-5" role="presentation">
                            {% for sousCategory in category.getSousCategories %}
                            <li>
                                <a class="display-block text-gray text-body-larger pt-xs-1"
                                   href="{{ path('category_services',{slug: sousCategory.slug}) }}">
                                    {{ sousCategory.title }} </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
{{ include('partials/mobile_menu.html.twig') }}
<div class="clearfix"></div>
{{ include('modals/forgot_password.html.twig') }}