<div id="gnav-header" class="gnav-header global-nav clear gnav-3">
    <header id="gnav-header-inner" class="gnav-header-inner clear apply-nav-height col-group has-svg-icons body-max-width"><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <div class="col-xs-12">
            <div id="gigtodo-logo" class="apply-nav-height gigtodo-logo-svg gigtodo-logo-svg-logged-in ">
                <a href="{{ path('homepage') }}">
                    <img id="logo-nil" class="desktop" src="{{asset('build/images/logo.png')}}" width="150">
                </a>
            </div>
            <button id="mobilemenu" class="unstyled-button mobile-catnav-trigger apply-nav-height icon-b-1 tablet-catnav-enabled left">
                <span class="screen-reader-only"></span>
                <div class="text-gray-lighter text-body-larger">
          <span class="gigtodo-icon hamburger-icon nav-icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
              <path d="M20,6H4A1,1,0,1,1,4,4H20A1,1,0,0,1,20,6Z"></path>
              <path d="M20,13H4a1,1,0,0,1,0-2H20A1,1,0,0,1,20,13Z"></path>
              <path d="M20,20H4a1,1,0,0,1,0-2H20A1,1,0,0,1,20,20Z"></path>
            </svg>
          </span>
                </div>
            </button>
            <div class="catnav-search-bar search-browse-wrapper with-catnav">
                <div class="search-browse-inner">
                    <form id="gnav-search" class="search-nav expanded-search apply-nav-height" method="post">
                        <div class="gnav-search-inner clearable">
                            <label for="search-query" class="screen-reader-only"></label>
                            <div class="search-input-wrapper text-field-wrapper">
                                <input id="search-query" class="rounded" name="search_query" placeholder="Find Services" value="" autocomplete="off">
                            </div>
                            <div class="search-button-wrapper hide">
                                <button class="btn btn-primary" name="search" type="submit" value="Search">
                                    Rechercher                </button>
                            </div>
                        </div>
                        <ul class="search-bar-panel d-none"></ul>
                    </form>
                </div>
            </div>
            <ul class="account-nav apply-nav-height">
                {% if app.user is null %}
                    <li class="register-link">
                        <a href="{{ path('index_freelancers') }}">Freelancers</a>
                    </li>
                    <li class="sell-on-gigtodo-link d-none d-lg-block">
                        <a href="{{ path('account_register') }}">
              <span class="sell-copy">
              Devenir vendeur          </span>
                        </a>
                    </li>
                    <li class="register-link">
                        <a href="{{ path('account_login') }}">Se connecter</a>
                    </li>
                    <li class="sign-in-link mr-lg-0 mr-3">
                        <a href="{{ path('account_register') }}" class="btn btn_join" style="color: white;" >
                            S'inscrire          </a>
                    </li>
                {% else %}
                    {{ include('seller/seller_nav.html.twig') }}
                {% endif %}
            </ul>
        </div>
    </header>
</div>
{{ include('partials/categories_nav_test.html.twig') }}

{% for label, messages in app.flashes %}
    <div class="alert alert-{{ label }} clearfix activate-email-class mb-0 text-center">
        {% for message in messages %}
            <p>{{ message | raw }}</p>
        {% endfor %}
    </div>

{% endfor %}