{% extends 'base.html.twig' %}
{% block stylesheets %}
    <style>
        input[type=radio]:checked {
            background-color: blue;
           color: #fff;
        }
    </style>
{% endblock %}
{% block title %}Faites une Demande{% endblock %}

{% block body %}

    <div class="container-fluid mt-5 mb-5">
        <h1 class="mb-5"><i class="fa fa-plus-circle" aria-hidden="true"></i>
            Faites une nouvelle demande</h1>
        <div class="row"><!--- row Starts --->
            <div class="col-xl-8 col-lg-8 post-request col-md-12">
                <div class="card rounded-0">
                    <div class="card-body">
                            {{ form_start(form) }}
                            <div class="row row-1">
                                <div class="col-md-2 d-md-block d-none">
                                    <!--<i class="fa fa-pencil-square-o fa-4x text-success"></i>-->
                                    <img style="position:relative; top: -12px; left:15px;" width="64"
                                         src="{{ asset('build/images/comp/book.png') }}">
                                </div>
                                <div class="col-md-10 col-sm-12">
                                    <div class="row">
                                        <div class="col-xl-9 col-lg-12">
                                            <div class="form-group">
                                                {{ form_widget(form.title, { 'attr': {'class': 'form-control input-lg','placeholder': 'Titre de votre demande'} }) }}
                                            </div>
                                            <div class="form-group">
                                                {{ form_widget(form.description, { 'attr': {'class': 'form-control','rows': '5','maxlength':"380",'placeholder': 'Description de votre demande'} }) }}
                                                <div class="font-weight-bold pull-right">
                                                    <span class="descCount"> 0 </span> / 380 Max
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row-2">
                                <hr class="card-hr">
                                <h5 class="mb-5"> Choisissez une catégorie</h5>
                                <div class="row mb-2 ">
                                    <div class="col-md-2 d-md-block d-none">
                                        <!--<i class="fa fa-folder-open fa-4x text-success"></i>-->
                                        <img style="position:relative; top: -12px; left:15px;"
                                             src="{{ asset('build/images/comp/folder.png') }}">
                                    </div>
                                    <div class="col-md-10 col-sm-12">
                                        <div class="row">
                                            <div class="col-xl-4 col-md-6 mb-2">
                                                {{ form_widget(form.category, { 'attr': {'class': 'form-control'} }) }}

                                            </div>
                                            <div class="col-xl-4 col-md-6 mb-2">
                                                {{ form_widget(form.sousCategory, { 'attr': {'class': 'form-control'} }) }}

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row-3">
                                <hr class="card-hr">
                                <h5 class="mb-4"> Une fois votre commande passée, quand souhaitez-vous que votre service
                                    soit livré ? </h5>
                                <div class="row mb-4">
                                    <div class="col-md-1 d-md-block d-none">
                                        <!--<i class="fa fa-clock-o fa-4x text-success "></i>-->
                                        <img style="position:relative; left:15px;"
                                             src="{{ asset('build/images/comp/timetable.png') }}">
                                    </div>
                                    <div class="col-md-11 col-sm-12 mt-3 ">
                                        <label class="custom-control custom-radio">
                                            {{ form_widget(form.deliveryTime) }}
                                        </label>

                                    </div>
                                </div>
                            </div>
                            <div class="row-4">
                                <hr class="card-hr">
                                <h5 class="mb-4"> Quel est votre budget pour ce service? (Optionnel) ?</h5>
                                <div class="row">
                                    <div class="col-md-1 d-md-block d-none">
                                        <!--<i class="fa fa-money fa-4x text-success fa-work"></i>-->
                                        <img style="position:relative; left:15px;"
                                             src="{{ asset('build/images/comp/budget.png') }}">
                                    </div>
                                    <div class="col-md-6 col-sm-12 offset-md-1 mt-3">
                                        <div class="input-group form-curb">
                                            <span class="input-group-addon font-weight-bold"> € </span>
                                            {{ form_widget(form.budget, { 'attr': {'class': 'form-control input-lg','placeholder': "5 Minimum"} }) }}

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr class="card-hr">
                            <input type="submit" name="submit" value="Valider votre demande" style="cursor:pointer;"
                                   class="btn btn-success btn-lg float-right">
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 request-sidebar ">
                <!--- col-xl-3 col-md-2 request-sidebar p-0 Starts --->
                <div class="card border-0 rounded-0 mb-5 h-1" style="visibility: visible;">
                    <div class="card-body pt-3">
                        <h5><img style="position:relative; left:-3px; top:-2px;"
                                 src="{{ asset('build/images/comp/light-bulb.png') }}"> Définir en détail</h5>
                        <p>Incluez tous les détails nécessaires pour compléter votre demande.</p>
                        <p style="background-color: #deeff0;" class="breadcrumb mb-0">
                            <b style="color:#0096a3">Par exemple: </b> si vous recherchez un logo, vous pouvez spécifier
                            le nom de votre entreprise, le type d'entreprise, la couleur préférée, etc.
                        </p>
                    </div>
                </div>
                <div class="card border-0 rounded-0 mb-0 h-2" style="visibility: hidden;">
                    <div class="card-body pt-3">
                        <h5><img style="position:relative; left:-3px; top:-2px;"
                                 src="{{ asset('build/images/comp/light-bulb.png') }}">Affinez votre demande</h5>
                        <p>Choisissez la catégorie et la sous-catégorie qui correspondent le mieux à votre demande.</p>
                        <p style="background-color: #deeff0;" class="breadcrumb mb-0">
                            <b style="color:#0096a3">Par exemple:</b> si vous cherchez un logo, vous devez choisir
                            "Création de logo" dans la catégorie "Graphics & Design".
                        </p>
                    </div>
                </div>
                <div class="card border-0 rounded-0 mb-0 h-3" style="visibility: hidden;">
                    <div class="card-body pt-3">
                        <h5><img style="position:relative; left:-3px; top:-2px;"
                                 src="{{ asset('build/images/comp/light-bulb.png') }}">Définir un délai de livraison
                        </h5>
                        <p>Il s'agit du temps dont dispose le vendeur pour traiter votre commande. Veuillez noter qu'une
                            demande de livraison plus rapide peut avoir un impact sur le prix.</p>
                    </div>
                </div>
                <div class="card border-0 rounded-0 mb-3 h-4" style="visibility: hidden;">
                    <div class="card-body pt-3">
                        <h5><img style="position:relative; left:-3px; top:-2px;"
                                 src="{{ asset('build/images/comp/light-bulb.png') }}"> Définissez votre budget</h5>
                        <p>Entrez un montant que vous êtes prêt à dépenser pour ce service.</p>
                    </div>
                </div>
            </div><!--- col-xl-3 col-md-2 request-sidebar p-0 Ends --->
        </div><!--- row Ends --->
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function () {
            $('.h-2').css("visibility", "hidden");
            $('.h-3').css("visibility", "hidden");
            $('.h-4').css("visibility", "hidden");

            $('.container-fluid').hover(function () {
                $('.h-1').css("visibility", "visible");
                $('.h-2').css("visibility", "hidden");
                $('.h-3').css("visibility", "hidden");
                $('.h-4').css("visibility", "hidden");
            });

            $('.row-1').mouseover(function () {
                $('.h-1').css("visibility", "visible");
                $('.h-2').css("visibility", "hidden");
                $('.h-3').css("visibility", "hidden");
                $('.h-4').css("visibility", "hidden");
            });

            $('.row-2').mouseover(function () {
                $('.h-1').css("visibility", "hidden");
                $('.h-2').css("visibility", "visible");
                $('.h-3').css("visibility", "hidden");
                $('.h-4').css("visibility", "hidden");
            });

            $('.row-3').mouseover(function () {
                $('.h-1').css("visibility", "hidden");
                $('.h-2').css("visibility", "hidden");
                $('.h-3').css("visibility", "visible");
                $('.h-4').css("visibility", "hidden");
            });

            $('.row-4').mouseover(function () {
                $('.h-1').css("visibility", "hidden");
                $('.h-2').css("visibility", "hidden");
                $('.h-3').css("visibility", "hidden");
                $('.h-4').css("visibility", "visible");
            });

            $('.row-2,.row-3,.row-4').mouseout(function () {
                $('.h-1').css("visibility", "visible");
                $('.h-2').css("visibility", "hidden");
                $('.h-3').css("visibility", "hidden");
                $('.h-4').css("visibility", "hidden");
            });

            $("#appbundle_demande_description").keydown(function () {
                var textarea = $("#appbundle_demande_description").val();
                $(".descCount").text(textarea.length);
            });

            $("#appbundle_demande_sousCategory").hide();

            $("#appbundle_demande_category").change(function () {
                $("#appbundle_demande_sousCategory").show();
            });

        });
    </script>
    <script>
        $('#appbundle_demande_category').change(function () {
            var categorySelector = $(this);
            // Request the neighborhoods of the selected city.
            $.ajax({
                url: "{{ path('get_sous_category_by_category') }}",
                type: "GET",
                dataType: "JSON",
                data: {
                    catid: categorySelector.val()
                },
                success: function (souscategories) {
                    var sousCategorySelect = $("#appbundle_demande_sousCategory");
                    // Remove current options
                    sousCategorySelect.html('');
                    // Empty value ...
                    sousCategorySelect.append('<option value> Sélectionner une sous catégorie de ' + categorySelector.find("option:selected").text() + ' ...</option>');

                    $.each(souscategories, function (key, souscategory) {
                        sousCategorySelect.append('<option value="' + souscategory.id + '">' + souscategory.title + '</option>');
                    });
                },
                error: function (err) {
                    alert("An error ocurred while loading data ...");
                }
            });
        });
    </script>
{% endblock %}