{% block stylesheets %}
    <link href="{{ asset('build/css/freelancers_css.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}Lenyl | Details Freelancer{% endblock %}

{% extends "base.html.twig" %}

{% block body %}
    <div class="col-md-12 user-header pl-5 pr-5 pt-5 pb-5">
        <div class="profile-image float-lg-left flaot-md-left float-none mr-4">
            <img src="{{ asset('/uploads/images/'~freelancer.picture) }}" class="rounded-circle"
                 alt="Avatar de  {{ freelancer.fullName }}"/>
        </div>
        <div class="content-bar mt-3">
            <h1>Bonjour, je suis {{ freelancer.fullName }} </h1>
            <span class="headline">
                {{ freelancer.specialty }}
            </span>
            <div class="star-rating">
                <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i
                        class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <span
                        class="text-white m-1"><strong>0.0</strong> (0)</span>
                <span class="text-white">
                    <i class="fa fa-map-marker m-1"></i>  {{ freelancer.pays.name }}
                </span>
            </div>
        </div>
    </div>

    <div class="col-md-12 user-status">
        <ul>
            <li>
                <i class="fa fa-user"></i>
                <strong>Membre depuis: </strong> {{ freelancer.createdAt | format(freelancer.createdAt) }}
            </li>
            <li>
                <i class="fa fa-truck fa-flip-horizontal"></i>
                <strong>Livraison récente: </strong> {{ freelancer.recentDelivery |format(freelancer.recentDelivery) }}
            </li>
        </ul>
    </div>
    <div class="container"> <!-- Container starts -->
        <div class="row">
            <div class="col-md-4 mt-4">

                <div class="card user-sidebar rounded-0"><!--- card user-sidebar rounded-0 Starts -->

                    <div class="card-body"><!-- card-body Starts -->

                        <h3>Description</h3>

                        <p>

                            {{ freelancer.description | raw}}
                        </p>

                        <hr class="card-hr">

                        <h3 class="float-left">Langues</h3>

                        <div class="clearfix"></div>

                        <ul class="list-unstyled mt-3"><!-- list-unstyled mt-3 Starts -->

                            {% for langue in freelancer.getLanguages %}
                                <li class="card-li mb-1">
                                    {{ langue.name }} - <span class="text-muted"> {{ langue.level.name }} </span>

                                </li>
                            {% endfor %}


                        </ul>

                        <hr class="card-hr">

                        <h3 class="float-left">Compétences</h3>

                        <div class="clearfix"></div>

                        <ul class="list-unstyled mt-3">
                            {% for skill in freelancer.getSkills %}
                                <li class="card-li mb-1">
                                    {{ skill.name }} - <span class="text-muted"> {{ skill.level.name }} </span>

                                </li>
                            {% endfor %}
                        </ul>

                    </div><!--- card user-sidebar rounded-0 Ends -->
                </div>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card mt-4 mb-4 rounded-0">
                            <div class="card-body">
                                <h2>Ses services</h2>
                            </div>
                        </div>
                    </div>
                </div>
                {% if proposals is empty %}
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="text-center mb-5 p-2">
                                <i class="fa fa-smile-o"></i> Vous n'avez aucun service pour le moment.
                            </h3>
                        </div>
                    </div>
                {% else %}
                    <div class="col-lg-12 col-md-12 col-sm-12 ">
                        <div class="row flex-wrap" id="featured_proposals">
                            {% for proposal in proposals %}
                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 mb-3">
                                    <div class="proposal-card-base mp-proposal-card"><!--- proposal-card-base mp-proposal-card Starts --->
                                        <a href="{{ path('show_details_proposal',{sellerSlug: proposal.seller.slug, proposalSlug: proposal.slug }) }}">
                                            <img style="max-height: 160px;" {% if proposal.proposalImages is not empty %}src="{{ asset('/uploads/images/'~proposal.proposalImages.first().getFileName()) }}" {% endif %} class="img-fluid">
                                        </a>
                                        <div class="proposal-card-caption"><!--- proposal-card-caption Starts --->
                                            <div class="proposal-seller-info"><!--- gig-seller-info Starts --->
                                                <span class="fit-avatar s24">
                                        <img src="{{ asset('/uploads/images/'~proposal.seller.picture) }}" class="rounded-circle" width="32" height="32">
                                    </span>
                                                <div class="seller-info-wrapper">
                                                    <a href="#" class="seller-name">{{ proposal.seller.fullName}}</a>
                                                    <div class="gig-seller-tooltip">     </div>
                                                </div>
                                            </div><!--- gig-seller-info Ends --->
                                            <a href="{{ path('show_details_proposal',{sellerSlug: proposal.seller.slug, proposalSlug: proposal.slug }) }}" class="proposal-link-main js-proposal-card-imp-data">
                                                <h3>{{ proposal.title }}</h3>
                                            </a>
                                            <div class="rating-badges-container">
                                    <span class="proposal-rating">
                                    <svg class="fit-svg-icon full_star" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg" width="15" height="15"><path d="M1728 647q0 22-26 48l-363 354 86 500q1 7 1 20 0 21-10.5 35.5t-30.5 14.5q-19 0-40-12l-449-236-449 236q-22 12-40 12-21 0-31.5-14.5t-10.5-35.5q0-6 2-20l86-500-364-354q-25-27-25-48 0-37 56-46l502-73 225-455q19-41 49-41t49 41l225 455 502 73q56 9 56 46z"></path></svg>
                                    <span>
                                    <strong>{{ proposal.rating}}</strong>
                                    (5)
                                    </span>
                                    </span>
                                            </div>
                                        </div><!--- proposal-card-caption Ends --->
                                        <footer class="proposal-card-footer"><!--- proposal-card-footer Starts --->
                                            <div class="proposal-fav">
                                                <i data-id="3" href="#" class="fa fa-heart proposal-favorite dil1" data-toggle="tooltip" data-placement="top" title="" data-original-title="Favorite"></i>
                                            </div>
                                            <div class="proposal-price">
                                                <a><small>A PARTIR DE</small>{{ proposal.price}} €</a>
                                            </div>
                                        </footer>
                                    </div></div>
                            {% endfor %}
                        </div>
                        <div id="wait"></div>
                        <br>
                    </div>

                {% endif %}
                <div class="row">

                    <div class="col-md-12">

                        <div class="card user-reviews mt-4 mb-4 rounded-0">

                            <div class="card-header make">

                                <h4>

                                    Notes de {{ freelancer.fullName }}


                                    <span class="text-muted">4.8 (21) </span>

                                    <div class="dropdown float-right">

                                        <button id="<dropdown-button></dropdown-button>" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">

                                            Most Recent

                                        </button>

                                        <ul class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 33px, 0px); top: 0px; left: 0px; will-change: transform;">

                                            <li class="dropdown-item active all">  Most Recent</li>
                                            <li class="dropdown-item good"> Positive Reviews</li>
                                            <li class="dropdown-item bad">  Negative Reviews</li>

                                        </ul>

                                    </div>

                                </h4>

                            </div>

                            <div class="card-body">

                                <article id="all" class="proposal-reviews">

                                    <ul class="reviews-list">
                                    {% for comment in comments %}
                                        <li class="star-rating-row">
                                            <span class="user-picture">
                                                   <img src="{{ asset('/uploads/images/'~comment.author.picture)}} " width="60" height="60">
                                            </span>
                                            <h4>
                                                <a href="#" class="mr-1 text-success"> {{ comment.author.getFullName}} </a>
                                            </h4>
                                                <img class="rating" src="{{ asset('/uploads/images/user_rate_full.png')}} ">  <img class="rating" src="{{ asset('/uploads/images/user_rate_full.png')}} "> <img class="rating" src="{{ asset('/uploads/images/user_rate_full.png')}} "> <img class="rating" src="{{ asset('/uploads/images/user_rate_full.png')}} ">
                                            <div class="msg-body">
                                                {{ comment.content}}
                                            </div>
                                            <span class="rating-date">{{ comment.createdAt | date('d/m/y')}}</span>
                                        </li>
                                        <hr>
                                    {% endfor %}
                                    </ul>

                                </article>


                            </div>

                        </div>


                    </div>



                </div>
            </div>
            <br>
            <br>
        </div>
    </div>
{% endblock %}