<aside id="left-panel" class="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">
        <div class="navbar-header">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="{{ path('admin_dashboard') }}">
                Lenil <span class="badge badge-primary p-2 font-weight-bold">ADMIN</span>
            </a>
            <a class="navbar-brand hidden" href="./"><span class="badge badge-primary pt-2 pb-2">A</span></a>
        </div>
        <div id="main-menu" class="main-menu collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="pt-5">
                    <a href="{{ path('admin_dashboard') }}"> <i class="menu-icon fa fa-dashboard"></i>Dashboard </a>
                </li>
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Settings"> <i class="menu-icon fa fa-cog"></i> Paramètres</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa  fa-arrow-circle-right"></i><a href="{{ path('update_general_setting') }}">General</a></li>
                        <li><i class="fa  fa-arrow-circle-right"></i><a href="{{ path('update_text_slider_in_layout_setting') }}">Layout</a></li>
                        <li><i class="fa  fa-arrow-circle-right"></i><a href="{{ path('update_general_paiment_setting') }}">Option de paiement</a></li>
                    </ul>
                </li>
                <li>
                    <a href="index?view_proposals"> <i class="menu-icon fa fa-table"></i>Services
                        <span class="badge badge-primary">{{ nbProposal }}</span>
                    </a>
                </li>
              {#  <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-cube"></i>Accounting</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa  fa-arrow-circle-right"></i><a href="index?sales"> Sales</a></li>
                        <li><i class="fa  fa-arrow-circle-right"></i><a href="index?expenses"> Expenses</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="payouts">
                        <i class="menu-icon fa fa-money"></i> Payouts
                    </a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa  fa-arrow-circle-right"></i><a href="index?payouts&amp;status=pending">Pending</a></li>
                        <li><i class="fa  fa-arrow-circle-right"></i><a href="index?payouts&amp;status=declined">Declined</a></li>
                        <li><i class="fa  fa-arrow-circle-right"></i><a href="index?payouts&amp;status=completed">Completed</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Reports">
                        <i class="menu-icon fa fa-flag"></i>Reports
                    </a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa  fa-arrow-circle-right"></i><a href="index?order_reports">Order Reports</a></li>
                        <li><i class="fa  fa-arrow-circle-right"></i><a href="index?message_reports">Message Reports</a></li>
                        <li><i class="fa  fa-arrow-circle-right"></i><a href="index?proposal_reports">Proposal Reports</a></li>
                    </ul>
                </li>
                <li>
                    <a href="index?inbox_conversations"> <i class="menu-icon fa fa-comments"></i>Inbox Messages</a>
                </li>
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-star"></i>Reviews</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa  fa-arrow-circle-right"></i><a href="index?insert_review">Insert Review</a></li>
                        <li><i class="fa  fa-arrow-circle-right"></i><a href="index?view_buyer_reviews">View Reviews</a></li>
                    </ul>
                </li>
                <li>
                    <a href="index?buyer_requests"> <i class="menu-icon fa fa-table"></i>Buyer Requests
                        <span class="badge badge-primary">1</span>
                    </a>
                </li>
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="menu-icon fa fa-fax"></i>Restricted Words</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa  fa-arrow-circle-right"></i><a href="index?insert_word">Insert Word</a></li>
                        <li><i class="fa  fa-arrow-circle-right"></i><a href="index?view_words">View Words</a></li>
                    </ul>
                </li>
                <li>
                    <a href="index?view_notifications"> <i class="menu-icon fa fa-bell"></i>Alerts
                        <span class="badge badge-primary">261</span>
                    </a>
                </li>#}
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-cubes"></i>Catégories</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa  fa-arrow-circle-right"></i><a href="{{ path('admin_create_category') }}"> Créer une Catégorie</a></li>
                        <li><i class="fa  fa-arrow-circle-right"></i><a href="{{ path('admin_index_category') }}"> Gérer les catégories</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-stack-exchange"></i>Sous Catégories</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa  fa-arrow-circle-right"></i><a href="{{ path('admin_create_sub_category') }}">Créer une sous Catégorie</a></li>
                        <li><i class="fa  fa-arrow-circle-right"></i><a href="{{ path('admin_index_sub_category') }}">Gérer les sous catégories</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-calendar"></i>Délais de livraison</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa  fa-arrow-circle-right"></i><a href="index?insert_delivery_time">Créer un délais de livraison</a></li>
                        <li><i class="fa  fa-arrow-circle-right"></i><a href="index?view_delivery_times">Gérer les délais de livraison</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-language"></i>Langues</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa  fa-arrow-circle-right"></i><a href="index?insert_seller_language">Créer une langue</a></li>
                        <li><i class="fa  fa-arrow-circle-right"></i><a href="index?view_seller_languages"> Gérer les langues</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Seller Skills"> <i class="menu-icon fa fa-flash"></i>Compétences</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa  fa-arrow-circle-right"></i><a href="index?insert_seller_skill">Créer une compétence</a></li>
                        <li><i class="fa  fa-arrow-circle-right"></i><a href="index?view_seller_skills">Gérer les compétences</a></li>
                    </ul>
                </li>
                <li>
                    <a href="index?view_seller_levels"> <i class="menu-icon fa fa-bell"></i>Niveau des freelancers
                    </a>
                </li>
                {#<li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Customer Support"> <i class="menu-icon fa fa-phone-square"></i> Customer Support</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa  fa-arrow-circle-right"></i><a href="index?customer_support_settings" title="Customer Support Settings">Support Settings
                            </a>
                        </li>
                        <li><i class="fa  fa-arrow-circle-right"></i><a href="index?view_support_requests" title="Customer Support Requests">
                                Support Requests
                            </a>
                        </li>
                        <li><i class="fa  fa-arrow-circle-right"></i><a href="index?insert_enquiry_type"> Insert Enquiry Type</a>
                        </li>
                        <li><i class="fa  fa-arrow-circle-right"></i><a href="index?view_enquiry_types"> View Enquiry Types</a>
                        </li>
                    </ul>
                </li>
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Seller Skills"> <i class="menu-icon fa fa-gift"></i> Coupons</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="menu-icon fa fa-arrow-circle-right"></i><a href="index?insert_coupon"> Insert Coupon</a></li>
                        <li><i class="menu-icon fa fa-arrow-circle-right"></i><a href="index?view_coupons"> View Coupons</a></li>
                    </ul>
                </li>#}
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Seller Skills"> <i class="menu-icon fa  fa-picture-o"></i> Slides</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="menu-icon fa fa-arrow-circle-right"></i><a href="index?insert_slide"> Créer Slide</a></li>
                        <li><i class="menu-icon fa fa-arrow-circle-right"></i><a href="index?view_slides"> Gérer Slides</a></li>
                    </ul>
                </li>
                {#<li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Seller Skills"> <i class="menu-icon fa fa-table"></i> Terms &amp; Conditions</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="menu-icon fa fa-arrow-circle-right"></i><a href="index?insert_term"> Insert Term</a></li>
                        <li><i class="menu-icon fa fa-arrow-circle-right"></i><a href="index?view_terms"> View Terms</a></li>
                    </ul>
                </li>#}
                <li>
                    <a href="index?view_sellers"> <i class="menu-icon fa fa-users"></i> Utilisateurs </a>
                </li>

{#                <li>
                    <a href="index?view_orders"> <i class="menu-icon fa fa-eye"></i> View Orders </a>
                </li>

                <li>
                    <a href="index?view_referrals"> <i class="menu-icon fa fa-universal-access"></i> View Referrals
                    </a>
                </li>
                <li>
                    <a href="index?view_proposal_referrals">
                        <i class="menu-icon fa fa-universal-access"></i>View Proposal Referrals
                    </a>
                </li>
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Seller Skills"> <i class="menu-icon fa fa-file"></i> Files</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="menu-icon fa fa-arrow-circle-right"></i><a href="index?view_proposals_files"> Proposals Files</a></li>
                        <li><i class="menu-icon fa fa-arrow-circle-right"></i><a href="index?view_inbox_files"> Messages Files</a></li>
                        <li><i class="menu-icon fa fa-arrow-circle-right"></i><a href="index?view_order_files"> Orders Files</a></li>
                    </ul>
                </li>#}
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Seller Skills">
                        <i class="menu-icon fa fa-book"></i> Guide
                    </a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="menu-icon fa fa-arrow-circle-right"></i><a href="index?insert_article_cat"> Créer une Catégorie d'article</a></li>
                        <li><i class="menu-icon fa fa-arrow-circle-right"></i><a href="index?view_article_cats"> Gérer les catégories d'articles</a></li>
                        <li><i class="menu-icon fa fa-arrow-circle-right"></i><a href="index?insert_article"> Créer un article</a></li>
                        <li><i class="menu-icon fa fa-arrow-circle-right"></i><a href="index?view_articles">Gérer les articles</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Seller Skills"> <i class="menu-icon fa fa-users"></i> Admins</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="menu-icon fa fa-arrow-circle-right"></i><a href="index?insert_user"> Créer un admin</a></li>
                        <li><i class="menu-icon fa fa-arrow-circle-right"></i><a href="index?view_users"> Gérer les admins</a></li>
                        <li><i class="menu-icon fa fa-arrow-circle-right"></i><a href="index?user_profile=10"> Editer Mon Profil</a></li>
                    </ul>
                </li>
                <li>
                    <a href="{{ path('admin_account_logout') }}"> <i class="menu-icon fa fa-power-off"></i> Déconnexion </a>
                </li>
            </ul>
        </div>
    </nav>
</aside>