{% block stylesheets %}
    <link href="{{ asset('build/css/create_proposal.css') }}" rel="stylesheet">
{% endblock %}
        {% block title %}Lenyl | Plateforme des freelancers africains!{% endblock %}

{% extends "base.html.twig" %}

{% block body %}
    <div class="col-md-12 user-header pl-5 pr-5 pt-5 pb-5">
        <div class="profile-image float-lg-left flaot-md-left float-none mr-4">
            <img src="{{ asset('/uploads/images/'~app.user.picture) }}" class="rounded-circle"
                 alt="Avatar de  {{ app.user.fullName }}"/>
        </div>
        <div class="content-bar mt-3">
            <h1>{{ app.user.fullName }} </h1>
            <span class="headline">
          </span>
            <div class="star-rating">
                <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i
                        class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <span
                        class="text-white m-1"><strong>0.0</strong> (0)</span>
                <span class="text-white">
        <i class="fa fa-map-marker m-1">

        </i>  {{ app.user.pays.name }}       </span>
            </div>
        </div>
    </div>

    <div class="col-md-12 user-status">
        <ul>
            <li>
                <i class="fa fa-user"></i>
                <strong>Membre depuis : </strong> {{ app.user.createdAt |date('d/m/Y') }}     </li>
        </ul>
    </div>
    <div class="container"> <!-- Container starts -->
    <div class="row">
        <div class="col-md-4 mt-4">

            <div class="card user-sidebar rounded-0"><!--- card user-sidebar rounded-0 Starts -->

                <div class="card-body"><!-- card-body Starts -->

                    <h3>Description</h3>

                    <p>

                        {{ app.user.description }}
                    </p>

                    <hr class="card-hr">

                    <h3 class="float-left">Langues</h3>

                    <ul class="list-unstyled"><!-- list-unstyled Starts -->

                        <li class="mb-4 clearfix">

                            <button data-toggle="collapse" data-target="#language" class="btn btn-success float-right">
                                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                Ajouter une langue
                            </button>

                        </li>

                        <div id="language" class="collapse form-style mb-2">
                            <!-- language collapse form-style mb-2 Starts -->
                            {{ form_start(formLanguage) }}
                            <div class="form-group">
                                {{ form_widget(formLanguage.name, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                            <div class="form-group">
                                {{ form_widget(formLanguage.level, { 'attr': {'class': 'form-control'} }) }}
                            </div>

                            <div class="text-center"><!-- text-center Starts -->

                                <button type="button" data-toggle="collapse" data-target="#language"
                                        class="btn btn-secondary">Annuler
                                </button>

                                <button type="submit" name="insert_language" class="btn btn-success">Ajouter
                                </button>

                            </div>
                            {{ form_end(formLanguage) }}

                        </div>
                    </ul>
                    <div class="clearfix"></div>
                    <ul class="list-unstyled mt-3"><!-- list-unstyled mt-3 Starts -->

                        {% for langue in user.getLanguages %}
                            <li class="card-li mb-1">
                                {{ langue.name }} - <span class="text-muted"> {{ langue.level.name }} </span>

                                <a href="{{ path('delete_langue', {id : langue.id}) }}">
                                    <i class="fa fa-trash-o"></i>
                                </a>

                            </li>
                        {% endfor %}


                    </ul>

                    <hr class="card-hr">

                    <h3 class="float-left">Compétences</h3>

                    <div class="clearfix"></div>

                    <ul class="list-unstyled"><!-- list-unstyled Starts -->

                        <li class="mb-4 clearfix">

                            <button data-toggle="collapse" data-target="#add_skill" class="btn btn-success float-right">
                                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                Ajouter une compétence
                            </button>
                        </li>
                        <div id="add_skill" class="collapse form-style mb-2">
                            <!-- add_skill collapse form-style mb-2 Starts -->
                            {{ form_start(formSkill) }}
                            <div class="form-group">
                                {{ form_widget(formSkill.name, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                            <div class="form-group">
                                {{ form_widget(formSkill.level, { 'attr': {'class': 'form-control'} }) }}
                            </div>

                                <div class="text-center"><!-- text-center Starts -->
                                    <button type="button" data-toggle="collapse" data-target="#add_skill"
                                            class="btn btn-secondary">Annuler
                                    </button>
                                    <button type="submit" name="insert_skill" class="btn btn-success">Ajouter</button>
                                </div>
                            {{ form_end(formSkill) }}

                        </div><!-- card-body Ends -->
                    </ul>
                    <div class="clearfix"></div>
                    <ul class="list-unstyled mt-3">
                        {% for skill in user.getSkills %}
                        <li class="card-li mb-1">
                            {{ skill.name }} - <span class="text-muted"> {{ skill.level.name }} </span>

                            <a href="{{ path('delete_skill', {id : skill.id}) }}">
                                <i class="fa fa-trash-o"></i>
                            </a>

                        </li>
                        {% endfor %}
                    </ul>

                </div><!--- card user-sidebar rounded-0 Ends -->
            </div>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card mt-4 mb-4 rounded-0">
                            <div class="card-body">
                                <h2>Mes services</h2>
                            </div>
                        </div>
                    </div>
                </div>
                {% if proposals is empty %}
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="text-center mb-5 p-2">
                            <i class="fa fa-smile-o"></i> Vous n'avez aucun service pour le moment.
                        </h3>
                    </div>
                </div>
                {% else %}
                    <div class="col-lg-12 col-md-12 col-sm-12 ">
                        <div class="row flex-wrap" id="featured_proposals">
                            {% for proposal in proposals %}
                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 mb-3">
                                    <div class="proposal-card-base mp-proposal-card"><!--- proposal-card-base mp-proposal-card Starts --->
                                        <a href="#proposals/ashleytharma1/i-will-design-a-logo-and-brand-for-you">
                                            <img src="{{ asset('/uploads/images/'~proposal.proposalImages.first().getFileName()) }}" class="img-fluid">
                                        </a>
                                        <div class="proposal-card-caption"><!--- proposal-card-caption Starts --->
                                            <div class="proposal-seller-info"><!--- gig-seller-info Starts --->
                                                <span class="fit-avatar s24">
                                        <img src="{{ asset('/uploads/images/'~proposal.seller.picture) }}" class="rounded-circle" width="32" height="32">
                                    </span>
                                                <div class="seller-info-wrapper">
                                                    <a href="#ashleytharma1" class="seller-name">{{ proposal.seller.fullName}}</a>
                                                    <div class="gig-seller-tooltip">  Débutant   </div>
                                                </div>
                                            </div><!--- gig-seller-info Ends --->
                                            <a href="#proposals/ashleytharma1/i-will-design-a-logo-and-brand-for-you" class="proposal-link-main js-proposal-card-imp-data">
                                                <h3>{{ proposal.title }}</h3>
                                            </a>
                                            <div class="rating-badges-container">
                                    <span class="proposal-rating">
                                    <svg class="fit-svg-icon full_star" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg" width="15" height="15"><path d="M1728 647q0 22-26 48l-363 354 86 500q1 7 1 20 0 21-10.5 35.5t-30.5 14.5q-19 0-40-12l-449-236-449 236q-22 12-40 12-21 0-31.5-14.5t-10.5-35.5q0-6 2-20l86-500-364-354q-25-27-25-48 0-37 56-46l502-73 225-455q19-41 49-41t49 41l225 455 502 73q56 9 56 46z"></path></svg>
                                    <span>
                                    <strong>{{ proposal.rating}}</strong>
                                    (5)
                                    </span>
                                    </span>
                                            </div>
                                        </div><!--- proposal-card-caption Ends --->
                                        <footer class="proposal-card-footer"><!--- proposal-card-footer Starts --->
                                            <div class="proposal-fav">
                                                <a class="icn-list proposal-offer" data-id="3">
                                                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 497.68 497.68" style="enable-background:new 0 0 497.68 497.68;" data-toggle="tooltip" data-placement="top" title="" data-original-title="Affiliate Link">

                                                        <path style="fill:#F2B233;" d="M464.04,404.82c0,97.6-96,92-215.2,92s-215.2,4.8-215.2-92c0-97.6,96-260,215.2-260
	                                            C368.04,145.62,464.04,308.02,464.04,404.82z"></path>
                                                        <path style="fill:#DD981D;" d="M248.84,145.62c119.2,0,215.2,162.4,215.2,260s-96,92-215.2,92"></path>
                                                        <path style="fill:#F2B233;" d="M144.04,44.82c0-47.2,47.2-44.8,104.8-44.8s104.8-2.4,104.8,44.8s-47.2,126.4-104.8,126.4
	                                            S144.04,92.02,144.04,44.82z"></path>
                                                        <path style="fill:#DD981D;" d="M248.84,0.02c57.6,0,104.8-2.4,104.8,44.8s-47.2,126.4-104.8,126.4"></path>
                                                        <path style="fill:#04AF76;" d="M340.84,154.42c0,8-6.4,14.4-14.4,14.4h-155.2c-8,0-14.4-6.4-14.4-14.4v-4c0-8,6.4-14.4,14.4-14.4
	                                            h156c8,0,14.4,6.4,14.4,14.4v4H340.84z"></path>
                                                        <path style="fill:#008C61;" d="M168.84,136.82h158.4c8,0,14.4,6.4,14.4,14.4v4c0,8-8,14.4-16,14.4"></path>
                                                        <circle style="fill:#04AF76;" cx="248.84" cy="339.22" r="96"></circle>
                                                        <path style="fill:#008C61;" d="M180.84,271.22c37.6-37.6,98.4-37.6,136,0s37.6,98.4,0,136"></path>
                                                        <path style="fill:#FFF6E1;" d="M240.84,416.82v-20c-16-0.8-24.8-4-32-8l4.8-21.6c8,4,18.4,8,30.4,8c10.4,0,17.6-4,17.6-11.2
	                                                s-5.6-11.2-20-16c-20-6.4-32.8-16-32.8-33.6c0-16,7.2-28.8,31.2-32.8v-16.8h16v16c16,0.8,21.6,3.2,27.2,6.4l-4.8,20.8
	                                                c-4.8-2.4-12.8-6.4-26.4-6.4c-12,0-16,4.8-16,10.4c0,6.4,6.4,9.6,22.4,16c21.6,8,30.4,17.6,30.4,34.4s-8.8,30.4-32.8,34.4v20H240.84
	                                            z"></path>
                                                        <g>
                                                            <path style="fill:#FFEEBD;" d="M248.84,264.82v36.8c0,0,2.4,0,4,0c13.6,0,21.6,4,26.4,6.4l4.8-20.8c-6.4-3.2-11.2-6.4-27.2-6.4v-16
		                                        H248.84z"></path>
                                                            <path style="fill:#FFEEBD;" d="M259.24,327.22c-4-1.6-8-3.2-10.4-4v27.2c8,4,12.8,8,12.8,13.6c0,6.4-4.8,9.6-12.8,11.2v41.6h8
		                                                    v-20.8c24-4,32.8-17.6,32.8-34.4C289.64,344.82,280.84,335.22,259.24,327.22z"></path>
                                                        </g>

                                                    </svg>
                                                </a>

                                                <i data-id="3" href="#" class="fa fa-heart proposal-favorite dil1" data-toggle="tooltip" data-placement="top" title="" data-original-title="Favorite"></i>
                                            </div>
                                            <div class="proposal-price">
                                                <a><small>STARTING AT</small>${{ proposal.price}}</a>
                                            </div>
                                        </footer><!--- proposal-card-footer Ends --->
                                    </div><!--- proposal-card-base mp-proposal-card Ends --->        </div>
                            {% endfor %}
                        </div>
                        <div id="wait"></div>
                        <br>
                        <div class="row justify-content-center mb-5 mt-0"><!-- row justify-content-center Starts -->
                            <nav><!-- nav Starts -->
                                <ul class="pagination" id="featured_pagination">


                                    <li class="page-item">

                                        <a class="page-link" href="featured_proposals?page=1&amp;">First Page</a>

                                    </li><li class="page-item active"><a class="page-link" href="featured_proposals?page=1&amp;">1</a></li>

                                    <li class="page-item">

                                        <a class="page-link" href="featured_proposals?page=1&amp;">Last Page</a>

                                    </li>          </ul>
                            </nav><!-- nav Ends -->
                        </div>
                    </div>
                {% endif %}
            </div>
            <br>
            <br>
        </div>
    </div>
{% endblock %}