{% block stylesheets %}
{% endblock %}
        {% block title %}Lenyl | Plateforme des freelancers africains!{% endblock %}

{% extends "base.html.twig" %}

{% block body %}
    <div class="col-md-12 user-header pl-5 pr-5 pt-5 pb-5">
        <div class="profile-image float-lg-left flaot-md-left float-none mr-4">
            <img src="{{ asset('/uploads/images/'~app.user.picture) }}" class="rounded-circle"
                 alt="Avatar de  {{ app.user.fullName }}"/>
        </div>
        <div class="content-bar mt-3">
            <h1>{{ app.user.fullName }} </h1>
            <span class="headline">
          </span>
            <div class="star-rating">
                <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i
                        class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <span
                        class="text-white m-1"><strong>0.0</strong> (0)</span>
                <span class="text-white">
        <i class="fa fa-map-marker m-1">

        </i>  {{ app.user.pays.name }}       </span>
            </div>
        </div>
    </div>

    <div class="col-md-12 user-status">
        <ul>
            <li>
                <i class="fa fa-user"></i>
                <strong>Membre depuis : </strong> {{ app.user.createdAt |date('d/m/Y') }}     </li>
        </ul>
    </div>
    <div class="container"> <!-- Container starts -->
    <div class="row">
        <div class="col-md-4 mt-4">

            <div class="card user-sidebar rounded-0"><!--- card user-sidebar rounded-0 Starts -->

                <div class="card-body"><!-- card-body Starts -->

                    <h3>Description</h3>

                    <p>

                        {{ app.user.description }}
                    </p>

                    <hr class="card-hr">

                    <h3 class="float-left">Langues</h3>

                    <ul class="list-unstyled"><!-- list-unstyled Starts -->

                        <li class="mb-4 clearfix">

                            <button data-toggle="collapse" data-target="#language" class="btn btn-success float-right">
                                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                Ajouter une langue
                            </button>

                        </li>

                        <div id="language" class="collapse form-style mb-2">
                            <!-- language collapse form-style mb-2 Starts -->
                            {{ form_start(formLanguage) }}
                            <div class="form-group">
                                {{ form_widget(formLanguage.name, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                            <div class="form-group">
                                {{ form_widget(formLanguage.level, { 'attr': {'class': 'form-control'} }) }}
                            </div>

                            <div class="text-center"><!-- text-center Starts -->

                                <button type="button" data-toggle="collapse" data-target="#language"
                                        class="btn btn-secondary">Annuler
                                </button>

                                <button type="submit" name="insert_language" class="btn btn-success">Ajouter
                                </button>

                            </div>
                            {{ form_end(formLanguage) }}

                        </div>
                    </ul>
                    <div class="clearfix"></div>
                    <ul class="list-unstyled mt-3"><!-- list-unstyled mt-3 Starts -->

                        {% for langue in user.getLanguages %}
                            <li class="card-li mb-1">
                                {{ langue.name }} - <span class="text-muted"> {{ langue.level.name }} </span>

                                <a href="{{ path('delete_langue', {id : langue.id}) }}">
                                    <i class="fa fa-trash-o"></i>
                                </a>

                            </li>
                        {% endfor %}


                    </ul>

                    <hr class="card-hr">

                    <h3 class="float-left">Compétences</h3>

                    <div class="clearfix"></div>

                    <ul class="list-unstyled"><!-- list-unstyled Starts -->

                        <li class="mb-4 clearfix">

                            <button data-toggle="collapse" data-target="#add_skill" class="btn btn-success float-right">
                                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                Ajouter une compétence
                            </button>
                        </li>
                        <div id="add_skill" class="collapse form-style mb-2">
                            <!-- add_skill collapse form-style mb-2 Starts -->
                            {{ form_start(formSkill) }}
                            <div class="form-group">
                                {{ form_widget(formSkill.name, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                            <div class="form-group">
                                {{ form_widget(formSkill.level, { 'attr': {'class': 'form-control'} }) }}
                            </div>

                                <div class="text-center"><!-- text-center Starts -->
                                    <button type="button" data-toggle="collapse" data-target="#add_skill"
                                            class="btn btn-secondary">Annuler
                                    </button>
                                    <button type="submit" name="insert_skill" class="btn btn-success">Ajouter</button>
                                </div>
                            {{ form_end(formSkill) }}

                        </div><!-- card-body Ends -->
                    </ul>
                    <div class="clearfix"></div>
                    <ul class="list-unstyled mt-3">
                        {% for skill in user.getSkills %}
                        <li class="card-li mb-1">
                            {{ skill.name }} - <span class="text-muted"> {{ skill.level.name }} </span>

                            <a href="{{ path('delete_skill', {id : skill.id}) }}">
                                <i class="fa fa-trash-o"></i>
                            </a>

                        </li>
                        {% endfor %}
                    </ul>

                </div><!--- card user-sidebar rounded-0 Ends -->
            </div>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card mt-4 mb-4 rounded-0">
                            <div class="card-body">
                                <h2>Mes services</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-12">
                        <h3 class="text-center mb-5 p-2">
                            <i class="fa fa-smile-o"></i> Vous n'avez aucun service pour le moment.
                        </h3>
                    </div>
                </div>
            </div>
            <br>
            <br>
        </div>
    </div>
{% endblock %}