{% block stylesheets %}
    <link href="{{ asset('build/css/create_proposal.css') }}" rel="stylesheet">
    <style>
        .autoExpand{
            border-radius: 6px;
            box-shadow: 2px 2px 8px rgba(black, .3);
            border: 0;
            box-sizing: padding-box;
            overflow: hidden;
        }
    </style>
{% endblock %}
        {% block title %}Lenyl | Plateforme des freelancers africains!{% endblock %}

{% extends "base.html.twig" %}

{% block body %}
    <div class="col-md-12 user-header pl-5 pr-5 pt-5 pb-5">
        <div class="profile-image float-lg-left flaot-md-left float-none mr-4">
            <img src="{{ asset('/uploads/images/'~app.user.picture) }}" class="rounded-circle"
                 alt="Avatar de  {{ app.user.fullName }}"/>
        </div>
        <div class="content-bar mt-3">
            <h1>{{ app.user.fullName }} </h1>
            <span class="headline">
          </span>
            <div class="star-rating">
                <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i
                        class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <span
                        class="text-white m-1"><strong>0.0</strong> (0)</span>
                <span class="text-white">
        <i class="fa fa-map-marker m-1">

        </i>  {{ app.user.pays.name }}       </span>
            </div>
        </div>
    </div>

    <div class="col-md-12 user-status">
        <ul>
            <li>
                <i class="fa fa-user"></i>
                <strong>Membre depuis : </strong> {{ app.user.createdAt |date('d/m/Y') }}     </li>
        </ul>
    </div>
    <div class="container"> <!-- Container starts -->
    <div class="row">
        <div class="col-md-4 mt-4">

            <div class="card user-sidebar rounded-0"><!--- card user-sidebar rounded-0 Starts -->

                <div class="card-body"><!-- card-body Starts -->

                    <h3>Description</h3>

                    <textarea class="autoExpand" id="description" cols="50"  rows='6' data-min-rows='6'>  {{ app.user.description | raw }}</textarea>
                    <div class="text-center">
                        <button  id="updatedescription" class="btn btn-success"> <i class="fa fa-floppy-o"></i> Enregistrer</button>
                    </div>

                    <hr class="card-hr">

                    <h3 class="float-left">Langues</h3>

                    <ul class="list-unstyled"><!-- list-unstyled Starts -->

                        <li class="mb-4 clearfix">

                            <button data-toggle="collapse" data-target="#language" class="btn btn-success float-right">
                                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                Ajouter une langue
                            </button>

                        </li>

                        <div id="language" class="collapse form-style mb-2">
                            <!-- language collapse form-style mb-2 Starts -->
                            {{ form_start(formLanguage) }}
                            <div class="form-group">
                                {{ form_widget(formLanguage.name, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                            <div class="form-group">
                                {{ form_widget(formLanguage.level, { 'attr': {'class': 'form-control'} }) }}
                            </div>

                            <div class="text-center"><!-- text-center Starts -->

                                <button type="button" data-toggle="collapse" data-target="#language"
                                        class="btn btn-secondary">Annuler
                                </button>

                                <button type="submit" name="insert_language" class="btn btn-success">Ajouter
                                </button>

                            </div>
                            {{ form_end(formLanguage) }}

                        </div>
                    </ul>
                    <div class="clearfix"></div>
                    <ul class="list-unstyled mt-3"><!-- list-unstyled mt-3 Starts -->

                        {% for langue in user.getLanguages %}
                            <li class="card-li mb-1">
                                {{ langue.name }} - <span class="text-muted"> {{ langue.level.name }} </span>

                                <a href="{{ path('delete_langue', {id : langue.id}) }}">
                                    <i class="fa fa-trash-o"></i>
                                </a>

                            </li>
                        {% endfor %}


                    </ul>

                    <hr class="card-hr">

                    <h3 class="float-left">Compétences</h3>

                    <div class="clearfix"></div>

                    <ul class="list-unstyled"><!-- list-unstyled Starts -->

                        <li class="mb-4 clearfix">

                            <button data-toggle="collapse" data-target="#add_skill" class="btn btn-success float-right">
                                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                Ajouter une compétence
                            </button>
                        </li>
                        <div id="add_skill" class="collapse form-style mb-2">
                            <!-- add_skill collapse form-style mb-2 Starts -->
                            {{ form_start(formSkill) }}
                            <div class="form-group">
                                {{ form_widget(formSkill.name, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                            <div class="form-group">
                                {{ form_widget(formSkill.level, { 'attr': {'class': 'form-control'} }) }}
                            </div>

                                <div class="text-center"><!-- text-center Starts -->
                                    <button type="button" data-toggle="collapse" data-target="#add_skill"
                                            class="btn btn-secondary">Annuler
                                    </button>
                                    <button type="submit" name="insert_skill" class="btn btn-success">Ajouter</button>
                                </div>
                            {{ form_end(formSkill) }}

                        </div><!-- card-body Ends -->
                    </ul>
                    <div class="clearfix"></div>
                    <ul class="list-unstyled mt-3">
                        {% for skill in user.getSkills %}
                        <li class="card-li mb-1">
                            {{ skill.name }} - <span class="text-muted"> {{ skill.level.name }} </span>

                            <a href="{{ path('delete_skill', {id : skill.id}) }}">
                                <i class="fa fa-trash-o"></i>
                            </a>

                        </li>
                        {% endfor %}
                    </ul>

                </div><!--- card user-sidebar rounded-0 Ends -->
            </div>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card mt-4 mb-4 rounded-0">
                            <div class="card-body">
                                <h2>Mes services
                                    <a href="{{ path('create_new_proposal') }}" class="btn btn-success float-right btn-lg btn_start_selling">
                                        Créer un service
                                    </a>
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
                {% if proposals is empty %}
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="text-center mb-5 p-2">
                            <i class="fa fa-smile-o"></i> Vous n'avez aucun service pour le moment.
                        </h3>
                    </div>
                </div>
                {% else %}
                    <div class="col-lg-12 col-md-12 col-sm-12 ">
                        <div class="row flex-wrap" id="featured_proposals">
                            {% for proposal in proposals %}
                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 mb-3">
                                    <div class="proposal-card-base mp-proposal-card"><!--- proposal-card-base mp-proposal-card Starts --->
                                        <a href="{{ path('show_details_proposal',{sellerSlug: proposal.seller.slug, proposalSlug: proposal.slug }) }}">
                                            <img style="max-height: 160px;" src="{{ asset('/uploads/images/'~proposal.proposalImages.first().getFileName()) }}" class="img-fluid">
                                        </a>
                                        <div class="proposal-card-caption"><!--- proposal-card-caption Starts --->
                                            <div class="proposal-seller-info"><!--- gig-seller-info Starts --->
                                                <span class="fit-avatar s24">
                                        <img src="{{ asset('/uploads/images/'~proposal.seller.picture) }}" class="rounded-circle" width="32" height="32">
                                    </span>
                                                <div class="seller-info-wrapper">
                                                    <a href="#" class="seller-name">{{ proposal.seller.fullName}}</a>
                                                    <div class="gig-seller-tooltip">     </div>
                                                </div>
                                            </div><!--- gig-seller-info Ends --->
                                            <a href="{{ path('show_details_proposal',{sellerSlug: proposal.seller.slug, proposalSlug: proposal.slug }) }}" class="proposal-link-main js-proposal-card-imp-data">
                                                <h3>{{ proposal.title }}</h3>
                                            </a>
                                            <div class="rating-badges-container">
                                    <span class="proposal-rating">
                                    <svg class="fit-svg-icon full_star" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg" width="15" height="15"><path d="M1728 647q0 22-26 48l-363 354 86 500q1 7 1 20 0 21-10.5 35.5t-30.5 14.5q-19 0-40-12l-449-236-449 236q-22 12-40 12-21 0-31.5-14.5t-10.5-35.5q0-6 2-20l86-500-364-354q-25-27-25-48 0-37 56-46l502-73 225-455q19-41 49-41t49 41l225 455 502 73q56 9 56 46z"></path></svg>
                                    <span>
                                    <strong>{{ proposal.rating}}</strong>
                                    (5)
                                    </span>
                                    </span>
                                            </div>
                                        </div><!--- proposal-card-caption Ends --->
                                        <footer class="proposal-card-footer"><!--- proposal-card-footer Starts --->
                                            <div class="proposal-fav">
                                                <i data-id="3" href="#" class="fa fa-heart proposal-favorite dil1" data-toggle="tooltip" data-placement="top" title="" data-original-title="Favorite"></i>
                                            </div>
                                            <div class="proposal-price">
                                                <a><small>A PARTIR DE</small>{{ proposal.price}} €</a>
                                            </div>
                                        </footer>
                                        <div>
                                            <a href="{{ path('delete_proposal', {id : proposal.id}) }}" class="btn btn-danger float-left">
                                                Supprimer
                                            </a>
                                            <a href="{{ path('edit_proposal', {id : proposal.id}) }}" class="btn btn-dark float-right">
                                                Editer
                                            </a>
                                        </div>
                                    </div></div>
                            {% endfor %}
                        </div>
                        <div id="wait"></div>
                        <br>
                    </div>

                {% endif %}

            </div>

            <br>
            <br>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-md-12">
                {{ include('demande/all-others-demandes.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        // Applied globally on all textareas with the "autoExpand" class
        $(document).ready( function() {
            $('#updatedescription').hide();
            $("#description").on("focus", function( e ) {
                $('#updatedescription').show();
            });

            $('#updatedescription').click(function() {

                $.ajax({
                    url: "{{ path('set_description') }}",
                    data:{description:$('textarea#description').val(), id: {{ app.user.id}}},
                    type: "GET",
                    success: function(response){
                        $("textarea#description").val(response.description);//send response to textarea
                        $('#updatedescription').hide();

                    }
                });
            });
        });
        $(document)
            .one('focus.autoExpand', 'textarea.autoExpand', function(){
                var savedValue = this.value;
                this.value = '';
                this.baseScrollHeight = this.scrollHeight;
                this.value = savedValue;
            })
            .on('input.autoExpand', 'textarea.autoExpand', function(){
                var minRows = this.getAttribute('data-min-rows')|0, rows;
                this.rows = minRows;
                rows = Math.ceil((this.scrollHeight - this.baseScrollHeight) / 16);
                this.rows = minRows + rows;
            });
    </script>
{% endblock %}
