{% block stylesheets %}{% endblock %}
{% block title %}Lenil |Devenez vendeur sur notre plateforme {% endblock %}
{% extends "base.html.twig" %}

{% block body %}
    <header id="start_selling">

        <h2 class="text-center text-white">Devenez vendeur sur notre plateforme</h2>

        <h3 class="text-center text-white">Vous apportez la compétence. Nous rendrons les gains aussi simples que 1,2,3</h3>
        <div class="text-center btn_start_selling">

            <a href="{{ path('create_proposal') }}" class="btn btn-success btn-lg btn_start_selling"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                Créer un service à vendre</a>
        </div>
    </header>
        <br>
        <br>
        <section id="start_selling_body">

            <div class="container">

                <h2 class="text-center pb-5 pt-5">Comment ça marche ?</h2>

                <div class="row">
                    <div class="col-md-4">
                        <!--<i class="fa fa-address-card-o pb-4" style="color:#3498db;" aria-hidden="true"></i>-->

                        <img style="position: relative; left: 50px; padding: 15px;" src="{{ asset('uploads/images/comp/create-icon.png') }}">

                        <h3 class="pb-4" style="position: relative; left: 40px;">Créer un service</h3>

                        <p>Une fois que vous avez créé un compte, tout ce que vous avez à faire pour devenir vendeur est de créer une proposition / un service. Assurez-vous que votre proposition est aussi captivante que possible. Les clients potentiels lisent réellement votre contenu.</p>


                    </div>

                    <div class="col-md-4">
                        <!--<i class="fa fa-archive pb-4" style="color:#e67e22;" aria-hidden="true"></i>-->

                        <img style="position: relative; left: 50px; padding: 15px;" src="{{ asset('uploads/images/comp/approve-icon.png') }}">

                        <h3 class="pb-4" style="position: relative; left: 50px;">Soumettre votre service pour validation</h3>

                        <p>Après avoir créé votre proposition / service incroyable, soumettez-le afin que l'administrateur puisse s'assurer que tout a l'air bien. Les administrateurs refusent rarement les propositions, cependant, assurez-vous que tout semble bien avant de soumettre.</p>


                    </div>

                    <div class="col-md-4">

                        <img style="position: relative; left: 50px; padding: 15px;" src="{{ asset('uploads/images/comp/receive-icon.png') }}">

                        <h3 class="pb-4" style="position: relative; left: 50px;">Obtenez les commandes. À l'échelle mondiale.</h3>

                        <p>Votre proposition / service a donc été approuvé par l'administrateur. Maintenant, c'est la bonne partie, commencez à recevoir une tonne de commandes de clients du monde entier. Faites de votre mieux pour chaque commande.</p>

                    </div>

                </div><br><br>
                <hr>
                <br><br>

                <span style="padding: 200px; margin:200px;"></span>


                <div class="row">

                    <div class="col-md-4">
                        <!--<i class="fa fa-address-card-o pb-4" style="color:#3498db;" aria-hidden="true"></i>-->

                        <img style="position: relative; left: 67px; padding: 15px;" src="{{ asset('uploads/images/comp/delivered-icon.png') }}">

                        <h3 class="pb-4" style="position: relative; left: 40px;">Livrer des projets</h3>

                        <p>Une fois que vous avez reçu des commandes, faites de votre mieux pour satisfaire vos clients. Ceci est très important pour les clients de retour et les commentaires incroyables. La communication est la clé, assurez-vous d'être en contact avec votre client.</p>


                    </div>

                    <div class="col-md-4">
                        <!--<i class="fa fa-archive pb-4" style="color:#e67e22;" aria-hidden="true"></i>-->

                        <img style="position: relative; left: 67px; padding: 15px;" src="{{ asset('uploads/images/comp/rate-icon.png') }}">

                        <h3 class="pb-4" style="position: relative; left: 50px;">Évaluez vos clients</h3>

                        <p>De nombreux clients vérifient leurs propres notes. Il est important d'évaluer les clients en fonction de leur comportement au cours du processus de commande. Ceci est important pour les autres vendeurs et pour les administrateurs. La plupart des vendeurs donnent 5 étoiles.</p>


                    </div>

                    <div class="col-md-4">
                        <!--<i class="fa fa-check-square-o pb-4" aria-hidden="true"></i>-->

                        <img style="position: relative; left: 67px; padding: 15px;" src="{{ asset('uploads/images/comp/earn-icon.png') }}">

                        <h3 class="pb-4" style="position: relative; left: 50px;">Soyez payé. À temps.</h3>

                        <p>Soyez payé à temps, à chaque fois. Après la période de validation, le paiement vous est transféré. Notre système vous permet de transférer des fonds de notre système vers votre compte PayPal, Mobile Money.</p>


                    </div>

                </div>
            </div><br><br><br>

        </section>
        <div class="text-center btn_start_selling">

            <a href="{{ path('create_proposal') }}" class="btn btn-success btn-lg btn_start_selling"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                Créer un service à vendre</a>

        </div>
        <div class="pb-5"></div>
        <br>
        <br>



{% endblock %}