<h3>Message de {{ contact.lastname }} {{ contact.firstname }}</h3>

<ul>
    <li>Nom : {{ contact.firstname }}</li>
    <li>Prénom : {{ contact.lastname }} </li>
    <li>Phone : {{ contact.phone }} </li>
</ul>
<p>
    {{ contact.message }}
</p>

{# example, assuming you have a route named "login" #}


Merci !

{# Makes an absolute URL to the /images/logo.png file #}

