{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('build/css/create_proposal.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}Lenyl | Plateforme des freelancers africains!{% endblock %}

{% block body %}
    <div class="container-fluid mt-5"><!-- Container start -->
        <div class="row">
            <div class="col-md-12">
                <center>
                    <h1> Top Services </h1>
                    <p class="lead">Ceci est une liste  de nos top services</p>
                </center>
                <hr class="mt-5 pt-2">
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-lg-3 col-md-4 col-sm-12 ">
                <div class="card border-success mb-3">
                    <div class="card-body pb-2 pt-3">
                        <ul class="nav flex-column">
                            <li class="nav-item checkbox checkbox-success">
                                <label>
                                    <input type="checkbox" value="1" class="get_online_sellers">
                                    <span>Afficher les vendeurs en ligne</span>
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card border-success mb-3">
                    <div class="card-header bg-success">
                        <h3 class="float-left text-white h5">Categories</h3>
                        <button class="btn btn-secondary btn-sm float-right clear_cat_id clearlink" onclick="clearCat()">
                            <i class="fa fa-times-circle"></i> filtre
                        </button>
                    </div>
                    <div class="card-body">
                        <ul class="nav flex-column">
                            {% for category in filterCategories %}
                                <li class="nav-item checkbox checkbox-success">
                                    <label>
                                        <input type="checkbox" value="{{ category.id }}" class="get_cat_id">
                                        <span>{{ category.title }} </span>
                                    </label>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="card border-success mb-3">
                    <div class="card-header bg-success">
                        <h3 class="float-left text-white h5">Heure de livraison</h3>
                        <button class="btn btn-secondary btn-sm float-right clear_delivery_time clearlink" onclick="clearDelivery()">
                            <i class="fa fa-times-circle"></i> filtre
                        </button>
                    </div>
                    <div class="card-body">
                        <ul class="nav flex-column">
                            {% for delivery in filterDeliveryTimes %}
                                <li class="nav-item checkbox checkbox-success">
                                    <label>
                                        <input type="checkbox" value="{{ delivery.id }}" class="get_delivery_time">
                                        <span>Jusqu'à {{ delivery.name }}</span>
                                    </label>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="card border-success mb-3">
                    <div class="card-header bg-success">
                        <h3 class="float-left text-white h5">Niveau du vendeur</h3>
                        <button class="btn btn-secondary btn-sm float-right clear_seller_level clearlink" onclick="clearLevel()">
                            <i class="fa fa-times-circle"></i> filtre
                        </button>
                    </div>
                    <div class="card-body">
                        <ul class="nav flex-column">
                            {% for level in filterLevels %}
                                <li class="nav-item checkbox checkbox-success">
                                    <label>
                                        <input type="checkbox" value="{{ level.id }}" class="get_seller_level">
                                        <span>{{ level.name }}</span>
                                    </label>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-9 col-md-8 col-sm-12 ">
                <div class="row flex-wrap" id="top_proposals">
                    {% for proposal in topProposals %}
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 mb-3">
                            <div class="proposal-card-base mp-proposal-card"><!--- proposal-card-base mp-proposal-card Starts --->
                                <a href="{{ path('show_details_proposal',{sellerSlug: proposal.seller.slug, proposalSlug: proposal.slug }) }}">
                                    <img src="{{ asset('/uploads/images/'~proposal.proposalImages.first().getFileName()) }}" class="img-fluid">
                                </a>
                                <div class="proposal-card-caption"><!--- proposal-card-caption Starts --->
                                    <div class="proposal-seller-info"><!--- gig-seller-info Starts --->
                                        <span class="fit-avatar s24">
                                        <img src="{{ asset('/uploads/images/'~proposal.seller.picture) }}" class="rounded-circle" width="32" height="32">
                                    </span>
                                        <div class="seller-info-wrapper">
                                            <a href="#ashleytharma1" class="seller-name">{{ proposal.seller.fullName}}</a>
                                            <div class="gig-seller-tooltip">  Débutant   </div>
                                        </div>
                                    </div><!--- gig-seller-info Ends --->
                                    <a href="{{ path('show_details_proposal',{sellerSlug: proposal.seller.slug, proposalSlug: proposal.slug }) }}" class="proposal-link-main js-proposal-card-imp-data">
                                        <h3>{{ proposal.title }}</h3>
                                    </a>
                                    <div class="rating-badges-container">
                                    <span class="proposal-rating">
                                    <svg class="fit-svg-icon full_star" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg" width="15" height="15"><path d="M1728 647q0 22-26 48l-363 354 86 500q1 7 1 20 0 21-10.5 35.5t-30.5 14.5q-19 0-40-12l-449-236-449 236q-22 12-40 12-21 0-31.5-14.5t-10.5-35.5q0-6 2-20l86-500-364-354q-25-27-25-48 0-37 56-46l502-73 225-455q19-41 49-41t49 41l225 455 502 73q56 9 56 46z"></path></svg>
                                    <span>
                                    <strong>{{ proposal.rating}}</strong>
                                    (5)
                                    </span>
                                    </span>
                                    </div>
                                </div><!--- proposal-card-caption Ends --->
                                <footer class="proposal-card-footer"><!--- proposal-card-footer Starts --->
                                    <div class="proposal-fav">
                                        <a class="icn-list proposal-offer" data-id="3">
                                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 497.68 497.68" style="enable-background:new 0 0 497.68 497.68;" data-toggle="tooltip" data-placement="top" title="" data-original-title="Affiliate Link">

                                                <path style="fill:#F2B233;" d="M464.04,404.82c0,97.6-96,92-215.2,92s-215.2,4.8-215.2-92c0-97.6,96-260,215.2-260
	                                            C368.04,145.62,464.04,308.02,464.04,404.82z"></path>
                                                <path style="fill:#DD981D;" d="M248.84,145.62c119.2,0,215.2,162.4,215.2,260s-96,92-215.2,92"></path>
                                                <path style="fill:#F2B233;" d="M144.04,44.82c0-47.2,47.2-44.8,104.8-44.8s104.8-2.4,104.8,44.8s-47.2,126.4-104.8,126.4
	                                            S144.04,92.02,144.04,44.82z"></path>
                                                <path style="fill:#DD981D;" d="M248.84,0.02c57.6,0,104.8-2.4,104.8,44.8s-47.2,126.4-104.8,126.4"></path>
                                                <path style="fill:#04AF76;" d="M340.84,154.42c0,8-6.4,14.4-14.4,14.4h-155.2c-8,0-14.4-6.4-14.4-14.4v-4c0-8,6.4-14.4,14.4-14.4
	                                            h156c8,0,14.4,6.4,14.4,14.4v4H340.84z"></path>
                                                <path style="fill:#008C61;" d="M168.84,136.82h158.4c8,0,14.4,6.4,14.4,14.4v4c0,8-8,14.4-16,14.4"></path>
                                                <circle style="fill:#04AF76;" cx="248.84" cy="339.22" r="96"></circle>
                                                <path style="fill:#008C61;" d="M180.84,271.22c37.6-37.6,98.4-37.6,136,0s37.6,98.4,0,136"></path>
                                                <path style="fill:#FFF6E1;" d="M240.84,416.82v-20c-16-0.8-24.8-4-32-8l4.8-21.6c8,4,18.4,8,30.4,8c10.4,0,17.6-4,17.6-11.2
	                                                s-5.6-11.2-20-16c-20-6.4-32.8-16-32.8-33.6c0-16,7.2-28.8,31.2-32.8v-16.8h16v16c16,0.8,21.6,3.2,27.2,6.4l-4.8,20.8
	                                                c-4.8-2.4-12.8-6.4-26.4-6.4c-12,0-16,4.8-16,10.4c0,6.4,6.4,9.6,22.4,16c21.6,8,30.4,17.6,30.4,34.4s-8.8,30.4-32.8,34.4v20H240.84
	                                            z"></path>
                                                <g>
                                                    <path style="fill:#FFEEBD;" d="M248.84,264.82v36.8c0,0,2.4,0,4,0c13.6,0,21.6,4,26.4,6.4l4.8-20.8c-6.4-3.2-11.2-6.4-27.2-6.4v-16
		                                        H248.84z"></path>
                                                    <path style="fill:#FFEEBD;" d="M259.24,327.22c-4-1.6-8-3.2-10.4-4v27.2c8,4,12.8,8,12.8,13.6c0,6.4-4.8,9.6-12.8,11.2v41.6h8
		                                                    v-20.8c24-4,32.8-17.6,32.8-34.4C289.64,344.82,280.84,335.22,259.24,327.22z"></path>
                                                </g>

                                            </svg>
                                        </a>

                                        <i data-id="3" href="#" class="fa fa-heart proposal-favorite dil1" data-toggle="tooltip" data-placement="top" title="" data-original-title="Favorite"></i>
                                    </div>
                                    <div class="proposal-price">
                                        <a><small>A PARTIR DE</small>{{ proposal.price}} €</a>
                                    </div>
                                </footer><!--- proposal-card-footer Ends --->
                            </div><!--- proposal-card-base mp-proposal-card Ends --->        </div>
                    {% endfor %}
                </div>
                <div id="wait"></div>
                <br>
                <div class="row justify-content-center mb-5 mt-0"><!-- row justify-content-center Starts -->
                    <nav><!-- nav Starts -->
                        <ul class="pagination" id="featured_pagination">


                            <li class="page-item">

                                <a class="page-link" href="featured_proposals?page=1&amp;">First Page</a>

                            </li><li class="page-item active"><a class="page-link" href="featured_proposals?page=1&amp;">1</a></li>

                            <li class="page-item">

                                <a class="page-link" href="top_proposals?page=1&amp;">Last Page</a>

                            </li>          </ul>
                    </nav><!-- nav Ends -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="application/javascript">
        function get_search_proposals(){
            var aInputs = $('li').find('.get_online_sellers');
            var online_seller   = Array();
            iKey = 0;
            $.each(aInputs,function(key,oInput){
                if(oInput.checked){
                    online_seller[iKey] =  oInput.value
                };
                iKey++;
            });


            var aInputs = $('li').find('.get_cat_id');
            var categories   = Array();
            iKey = 0;
            $.each(aInputs,function(key,oInput){
                if(oInput.checked){
                    categories[iKey] = oInput.value
                };
                iKey++;
            });

            var aInputs = $('li').find('.get_delivery_time');
            var delivery   = Array();
            iKey = 0;
            $.each(aInputs,function(key,oInput){
                if(oInput.checked){
                    delivery[iKey] =  oInput.value
                };
                iKey++;
            });


            var aInputs = $('li').find('.get_seller_level');
            var level_seller = Array();
            iKey = 0;
            $.each(aInputs,function(key,oInput){
                if(oInput.checked){
                    level_seller[iKey] =  oInput.value
                };
                iKey++;
            });


            $('#wait').addClass("loader");

            $.ajax({
                url:"{{ path('load_search_top_proposals') }}",
                data: {
                    json_online_seller: JSON.stringify(online_seller),
                    json_categories: JSON.stringify(categories),
                    json_delivery: JSON.stringify(delivery),
                    json_level_seller: JSON.stringify(level_seller)},
                type:'GET',
                dataType: "JSON",
                success:function(result){
                    console.log(result);
                    $('#top_proposals').html('');
                    _html = '';
                    if (result.count_proposals > 0){
                        $.each(result.proposals, function (key, proposal) {
                            _html +='<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 mb-3">\n' +
                                '                                 <div class="proposal-card-base mp-proposal-card"><!--- proposal-card-base mp-proposal-card Starts --->\n' +
                                '                                     <a href='+proposal.proposalUrl+'>\n' +
                                '                                         <img src='+'/uploads/images/'+ proposal.proposalFirstImage +' class="img-fluid">\n' +
                                '                                     </a>\n' +
                                '                                     <div class="proposal-card-caption"><!--- proposal-card-caption Starts --->\n' +
                                '                                         <div class="proposal-seller-info"><!--- gig-seller-info Starts --->\n' +
                                '                                             <span class="fit-avatar s24">\n' +
                                '                                                 <img src="'+ proposal.sellerAvatar+'" class="rounded-circle" width="32" height="32">\n' +
                                '                                                                                         </span>\n' +
                                '                                             <div class="seller-info-wrapper">\n' +
                                '                                                 <a href="#ashleytharma1" class="seller-name">'+ proposal.sellerName+'</a>\n' +
                                '                                                 <div class="gig-seller-tooltip">'+ proposal.sellerLevel+'</div>\n' +
                                '                                             </div>\n' +
                                '                                         </div><!--- gig-seller-info Ends --->\n' +
                                '                                         <a href='+proposal.proposalUrl+' class="proposal-link-main">\n' +
                                '                                             <h3>'+ proposal.proposalTitle+'</h3>\n' +
                                '                                         </a>\n' +
                                '                                         <div class="rating-badges-container">\n' +
                                '                                            <span class="proposal-rating">\n' +
                                '                                                <svg class="fit-svg-icon full_star" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg" width="15" height="15">\n' +
                                '                                                    <path d="M1728 647q0 22-26 48l-363 354 86 500q1 7 1 20 0 21-10.5 35.5t-30.5 14.5q-19 0-40-12l-449-236-449 236q-22 12-40 12-21 0-31.5-14.5t-10.5-35.5q0-6 2-20l86-500-364-354q-25-27-25-48 0-37 56-46l502-73 225-455q19-41 49-41t49 41l225 455 502 73q56 9 56 46z"></path>\n' +
                                '                                                 </svg>\n' +
                                '                                                <span>\n' +
                                '                                                <strong>'+ proposal.proposalRating+'</strong>\n' +
                                '                                                ('+ proposal.proposalViews+')\n' +
                                '                                                </span>\n' +
                                '                                            </span>\n' +
                                '                                         </div>\n' +
                                '                                     </div><!--- proposal-card-caption Ends --->\n' +
                                '                                     <footer class="proposal-card-footer"><!--- proposal-card-footer Starts --->\n' +
                                '\n' +
                                '                                         <div class="proposal-fav">\n' +
                                '                                             <a href="#" data-toggle="modal" data-target="#login-modal">\n' +
                                '                                                 <i class="fa fa-heart dil1" data-toggle="tooltip" data-placement="top" title="Favorite"></i>\n' +
                                '                                             </a>\n' +
                                '                                         </div>\n' +
                                '\n' +
                                '                                         <div class="proposal-price">\n' +
                                '                                             <a class="js-proposal-card-imp-data">\n' +
                                '                                                 <small>A PARTIR DE</small>'+ proposal.proposalPrice+' €</a>\n' +
                                '                                         </div>\n' +
                                '                                     </footer><!--- proposal-card-footer Ends --->\n' +
                                '                                 </div>\n' +
                                '                        </div>';
                        });
                    }else {
                        _html +='<div class=\'col-md-12\'>\n<h1 class=\'text-center mt-4\'><i class=\'fa fa-meh-o\'></i> Nous n\'avons trouvé aucun service correspondant à cette recherche </h1>\n</div>';
                    }
                    $('#top_proposals').html(_html);
                    $('#wait').removeClass("loader");
                }
            });

        }

        $('.get_online_sellers').click(function(){
            get_search_proposals();
        });
        $('.get_cat_id').click(function(){
            get_search_proposals();
        });
        $('.get_delivery_time').click(function(){
            get_search_proposals();
        });
        $('.get_seller_level').click(function(){
            get_search_proposals();
        });

        $(document).ready(function(){
            $(".get_cat_id").click(function(){
                if($(".get_cat_id:checked").length > 0 ) {
                    $(".clear_cat_id").show();
                }
                else{
                    $(".clear_cat_id").hide();
                }
            });
            $(".get_delivery_time").click(function(){
                if($(".get_delivery_time:checked").length > 0 ) {
                    $(".clear_delivery_time").show();
                }
                else{
                    $(".clear_delivery_time").hide();
                }
            });
            $(".get_seller_level").click(function(){
                if($(".get_seller_level:checked").length > 0 ) {
                    $(".clear_seller_level").show();
                }
                else{
                    $(".clear_seller_level").hide();
                }
            });
            $(".clear_cat_id").click(function(){
                $(".clear_cat_id").hide();
            });
            $(".clear_delivery_time").click(function(){
                $(".clear_delivery_time").hide();
            });
            $(".clear_seller_level").click(function(){
                $(".clear_seller_level").hide();
            });
            $(".clear_seller_language").click(function(){
                $(".clear_seller_language").hide();
            });
        });

        function clearCat(){
            $('.get_cat_id').prop('checked',false);
            get_search_proposals();
        }
        function clearDelivery(){
            $('.get_delivery_time').prop('checked',false);
            get_search_proposals();
        }
        function clearLevel(){
            $('.get_seller_level').prop('checked',false);
            get_search_proposals();
        }

    </script>

{% endblock %}