{% block stylesheets %}
{% endblock %}
    {% block title %}Administration | Lenil {% endblock %}

{% extends "admin/base.html.twig" %}

{% block body %}

    <div class="breadcrumbs">
        <div class="col-sm-4">
            <div class="page-header float-left">
                <div class="page-title">
                    <h1><i class="menu-icon fa fa-cog"></i> Paramètres / Mise en page</h1>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="page-header float-right">
                <div class="page-title">
                    <ol class="breadcrumb text-right">
                        <li class="active">Mise en Page</li>
                    </ol>
                </div>
            </div>
        </div>

    </div>
    <div class="container">
        <div class="row"><!--- 4 row Starts --->
            <div class="col-lg-12"><!--- col-lg-12 Starts --->

                <div class="card"><!--- card Starts --->

                    <div class="card-header"><!--- card-header Starts --->
                        <h4 class="h4">
                            <i class="fa fa-home fa-fw"></i>  Section de la page d'accueil
                            <small class="text-muted">
                                Texte sur les slides de la page d'accueil
                            </small>
                        </h4>
                    </div><!--- card-header Ends --->
                    <div class="card-body"><!--- card-body Starts --->
                        {{ form_start(form) }}
                            <div class="form-group row"><!--- form-group row Starts --->
                                {{ form_label(form.heading, null, {'label_attr': {'class': 'col-md-3 control-label'}}) }}
                                <div class="col-md-6">
                                    {{ form_widget(form.heading, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                            </div><!--- form-group row Ends --->
                            <div class="form-group row"><!--- form-group row Starts --->
                                {{ form_label(form.shortHeading, null, {'label_attr': {'class': 'col-md-3 control-label'}}) }}
                                <div class="col-md-6">
                                    {{ form_widget(form.shortHeading, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                            </div>
                            <div class="form-group row"><!--- form-group row Starts --->
                                <label class="col-md-3 control-label"></label>
                                <div class="col-md-6">
                                    <input type="submit" name="update_section" class="form-control btn btn-primary" value="update la section">
                                </div>
                            </div>
                        {{ form_end(form) }}
                    </div><!--- card-body Ends --->

                </div><!--- card Ends --->

            </div><!--- col-lg-12 Ends --->

        </div>
        <div class="row pt-3"><!--- 3 row Starts --->

            <div class="col-lg-12"><!--- col-lg-12 Starts --->

                <div class="card mb-5"><!--- card mb-5 Starts --->

                    <div class="card-header"><!--- card-header Starts --->

                        <h4 class="h4">

                            <i class="fa fa-cubes fa-fw"></i> Sliders de la homePage

                            <small class="text-muted">

                                Ces images se trouvent sur homepage du site

                            </small>

                        </h4>

                    </div><!--- card-header Ends --->

                    <div class="card-body"><!--- card-body Starts --->

                        <a class="btn btn-success btn-lg float-right" href="{{ path('add_new_slide_setting') }}">

                            <i class="fa fa-plus-circle"></i> Ajouter nouvelle slide

                        </a>

                        <div class="clearfix mb-4"></div>

                        <div class="row"><!-- row Starts --->

                            {% for slide in sliders %}
                            <div class="col-lg-4 col-md-6 mb-lg-3 mb-3"><!--- col-lg-3 col-md-6 mb-lg-0 mb-3 Starts --->

                                <div class="card"><!--- card Starts --->

                                    <div class="card-header text-center">

                                        {{ slide.title }}
                                    </div>

                                    <div class="card-body p-1"><!--- card-body Starts --->

                                        <img src="/uploads/images/{{ slide.imageName }}" style="height: 150px; min-width: 100%;" class="img-fluid">

                                    </div><!--- card-body Ends --->

                                    <div class="card-footer"><!--- card-footer Starts --->

                                        <a href="{{ path('delete_slide_homepage',{id : slide.id}) }}" class="float-left btn btn-danger" title="Delete">

                                            <i class="fa fa-trash text-white"></i>

                                        </a>

                                        <a href="{{ path('edit_slide_setting', {id: slide.id}) }}" class="float-right btn btn-success" title="edit">

                                            <i class="fa fa-pencil text-white"></i>

                                        </a>

                                        <div class="clearfix"></div>

                                    </div><!--- card-footer Ends --->

                                </div><!--- card Ends --->

                            </div><!--- col-lg-3 col-md-6 mb-lg-0 mb-3 Ends --->
                            {% else %}
                                <p>Pas encore de slides</p>
                            {% endfor %}
                        </div><!-- row Ends --->

                    </div><!--- card-body Ends --->

                </div><!--- card mb-5 Ends --->


            </div><!--- col-lg-12 Ends --->

        </div>
        <div class="row pt-3"><!--- 3 row Starts --->

            <div class="col-lg-12"><!--- col-lg-12 Starts --->

                <div class="card mb-5"><!--- card mb-5 Starts --->

                    <div class="card-header"><!--- card-header Starts --->

                        <h4 class="h4">

                            <i class="fa fa-cubes fa-fw"></i> View Cards

                            <small class="text-muted">

                                These boxes are located on the landing page, just below slider.

                            </small>

                        </h4>

                    </div><!--- card-header Ends --->

                    <div class="card-body"><!--- card-body Starts --->

                        <a class="btn btn-success btn-lg float-right" href="{{ path('add_card') }}">

                            <i class="fa fa-plus-circle"></i> Ajouter nouvelle Carte

                        </a>

                        <div class="clearfix mb-4"></div>

                        <div class="row"><!-- row Starts --->
                        {% for categoryCard in cardCategories%}
                            <div class="col-lg-4 col-md-6 mb-lg-0 mb-3"><!--- col-lg-4 col-md-6 mb-lg-0 mb-3 Starts --->

                                <div class="card mb-3"><!--- card Starts --->

                                    <div class="card-header text-center"><!--- card-header text-center Starts --->

                                        <h4 class="h4"> {{ categoryCard.title }} </h4>

                                    </div><!--- card-header text-center Ends --->

                                    <div class="card-body"><!--- card-body Starts --->

                                        <p>{{ categoryCard.description }}</p>

                                    </div><!--- card-body Ends --->

                                    <div class="card-footer"><!--- card-footer Starts --->

                                        <a href="{{ path('delete_carte_homepage', {id : categoryCard.id}) }}" class="float-left">

                                            <i class="fa fa-trash-alt"></i> Supprimer

                                        </a>

                                        <a href="index?edit_card=1" class="float-right">

                                            <i class="fa fa-pencil-alt"></i> Modifier

                                        </a>

                                        <div class="clearfix"> </div>

                                    </div><!--- card-footer Ends --->

                                </div><!--- card Ends --->

                            </div><!--- col-lg-4 col-md-6 mb-lg-0 mb-3 Ends --->
                        {% endfor %}

                        </div><!-- row Ends --->

                    </div><!--- card-body Ends --->

                </div><!--- card mb-5 Ends --->

            </div><!--- col-lg-12 Ends --->

        </div>
    </div>
{% endblock %}
