{% block stylesheets %}
{% endblock %}
    {% block title %}Administration | Lenil {% endblock %}

{% extends "admin/base.html.twig" %}

{% block body %}

    <div class="breadcrumbs">
        <div class="col-sm-4">
            <div class="page-header float-left">
                <div class="page-title">
                    <h1><i class="menu-icon fa fa-picture-o"></i> Slides </h1>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="page-header float-right">
                <div class="page-title">
                    <ol class="breadcrumb text-right">
                        <li class="active">Ajouter un slide</li>
                    </ol>
                </div>
            </div>
        </div>

    </div>
    <div class="container">
        <div class="container">


            <div class="row"><!--- 2 row Starts --->

                <div class="col-lg-12"><!--- col-lg-12 Starts --->


                    <div class="card"><!--- card Starts --->

                        <div class="card-header"><!--- card-header Starts --->

                            <h4 class="h4">Ajouter slide</h4>

                        </div><!--- card-header Ends --->

                        <div class="card-body"><!--- card-body Starts --->

                            {{ form_start(form) }}
                                <div class="form-group row"><!--- form-group row Starts --->

                                    {{ form_label(form.title, null, {'label_attr': {'class': 'col-md-3 control-label'}}) }}

                                    <div class="col-md-6">
                                        {{ form_widget(form.title, { 'attr': {'class': 'form-control'} }) }}
                                    </div>

                                </div><!--- form-group row Ends --->

                                <div class="form-group row"><!--- form-group row Starts --->
                                    {{ form_label(form.imageName, null, {'label_attr': {'class': 'col-md-3 control-label'}}) }}

                                    <div class="col-md-6">
                                        {{ form_widget(form.imageName, { 'attr': {'class': 'form-control'} }) }}
                                    </div>

                                </div><!--- form-group row Ends --->
                                <div class="form-group row">
                                    {{ form_label(form.isActivate, null, {'label_attr': {'class': 'col-md-3 control-label'}}) }}
                                    <div class="col-md-6">
                                        {{ form_widget(form.isActivate, { 'attr': {'class': 'form-control'} }) }}
                                    </div>
                                </div>
                                {% if slide is defined %}<img src="/uploads/images/{{ slide.imageName }}" width="100" height="40">{% endif %}
                                <div class="form-group row"><!--- form-group row Starts --->

                                    <label class="col-md-3 control-label"></label>

                                    <div class="col-md-6">

                                        <input type="submit" name="submit" class="btn btn-primary form-control" value="Ajouter Slide">
                                    </div>
                                </div><!--- form-group row Ends --->
                            {{ form_end(form) }}
                        </div><!--- card-body Ends --->

                    </div><!--- card Ends --->

                </div><!--- col-lg-12 Ends --->

            </div><!--- 2 row Ends --->



        </div>
    </div>
{% endblock %}
